body { background-color: #181818; }

.title {
  color: #8dcd8a;
  font-family: Consolas, Serif;
  font-size: 25px;
  margin: 1px;
  text-align: center;
}

#htp1 {
  color: #8dcd8a;
  font-family: Consolas, Serif;
  font-size: 15px;
  margin: 1px;
  text-align: center;
}

#archdisp {
  color: #8dcd8a;
  font-family: Consolas, Serif;
  font-size: 15px;
  margin: 1px;
  text-align: center;
}

.spacing {
  margin: 25px;
}

#spacing_arch {
  margin: 0px;
}
.spacing2 {
  margin: 10px;
}
.spacing3 {
  margin: 0px;
}

.initButtons {
  text-align: center;
  border: 2.5px solid #D3D3D3;
  font-family: Consolas;
  font-weight: bold;
  border-radius: 14px;
  -moz-border-radius: 14px;
  background: #181818;
  color: #8dcd8a;
  width: 8%;
  font-size: 18px;
  visibility: hidden;
  margin: auto;
}

.initButtons:hover{
  border: 3px #ffffff double;
  background: #8dcd8a;
  color: #181818;
}

.archT {
  text-align: center;
  border: 2.5px solid #D3D3D3;
  font-family: Consolas;
  font-weight: bold;
  border-radius: 14px;
  -moz-border-radius: 14px;
  background: #181818;
  color: #8dcd8a;
  width: 8%;
  font-size: 18px;
  margin: auto;
  visibility: hidden;
}

.archT:hover {
  border: 3px #ffffff double;
  background: #8dcd8a;
  color: #181818;
}

.qTit {
  display:inline-block;
  color: #d77234;
  font-family: Consolas, Serif;
  font-size: 18px;
  margin: 1px;
  margin-left: 3px;
  font-weight: bold;
  visibility: hidden;
}

.fronter {
  height: 15px;
  width: 205px;
  display: inline-block;
  background: #B2B2B2;

  border-radius: 22px;
  margin-left: 43.7%;
  visibility: hidden;
}

.backer {
  height: 15px;
  width: 15%;
  visibility: hidden;
  background: #d77234;
  display: inline-block;
  border-radius: 22px;
}
